body {
    margin: 200px 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    color: black; /* Ensure all text is black */
}

del {
    color: #999;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plan {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 345px;
    text-align: center;
}

.plan h2 {
    margin: 0;
    padding: 10px 0;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.features {
    list-style: none;
    padding: 0;
}

.features li {
    padding: 10px 0;
    display: flex;
    text-align: left;
    justify-content: start;
    gap: 10px;
}

.red {
    color: #DC143C;
}

th {
    background: #eaeaea;
    border-radius: 4px;
    min-width: 150px;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #d8b4fe; /* Lilac background */
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.elite {
    background: cornsilk;
}

.ecommerce-add {
    font-size: 14px;
    margin-top: 10px;
    color: cornflowerblue;
}

.comparison-table {
    margin: auto;
    background: white;
    padding: 16px;
    border-radius: 8px;
    max-width: 880px;
    margin-top: 16px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
